.table-container
  border-bottom: 1px solid $gray-600!important

.table-hover
  tbody tr
    color: $black
    background-color: $gray-200
    transition: $table-transition
    &:hover
      color: $white
      background-color: $gray-600
