.form-control
  $valid: darken($success, 15%)
  $invalid: darken($danger, 15%)

  &.is-valid,
  &.is-invalid,
  .was-validated &:valid,
  .was-validated &:invalid
    background-position: right calc(0.375em + 0.1875rem) center!important

  &.is-valid,
  .was-validated &:valid
    @include bg-valid($valid)

  &.is-invalid,
  .was-validated &:invalid
    @include bg-invalid($invalid)

  & ~ .valid-feedback
    color: $valid
  & ~ .invalid-feedback
    color: $invalid
