.config-table-body
  @extend .bg-light-gray

.config-table-body .b-table-empty-row
  color: $black
  background-color: $light-gray

.config-table .config-table-header-row
  height: 50px!important

.config-table .config-table-row
  height: 64px!important

.config-table .config-table-header-row th,
.config-table .config-table-row td
  vertical-align: middle!important

.config-table-label
  @extend .m-0

.config-table-border
  @extend .border-secondary
  @extend .border-bottom
  @extend .border-left-0
  @extend .border-top-0
  @extend .border-right-0

.config-table-input
  min-width: 150px!important
  max-width: 500px!important
  padding-right: calc(1.5em + 0.75rem)!important
  @extend .border-secondary
  @extend .border-bottom
  @extend .border-left-0
  @extend .border-top-0
  @extend .border-right-0
  @extend .rounded-0

.config-table-btn
  @include fixed-height(40)
  @extend .mb-3
  @extend .btn
  @extend .btn-secondary
  @extend .btn-outline-secondary
  @extend .bg-light-gray
  @extend .border-secondary
  @extend .border-left-0
  @extend .border-top-0
  @extend .border-right-0
  @extend .rounded-0

.config-table-btn:disabled,
.config-table-btn.disabled
  opacity: 1
  color: $normal-gray-muted
  background-color: $light-gray-muted
