.text-carousel-card
  @extend .border-0
  @extend .rounded-0

.text-carousel-slide
  @include fixed-height(300)

.text-carousel-slide > .carousel-caption
  color: $black!important
  height: 100%!important
  left: 0!important
  right: 0!important
