@import "node_modules/bootstrap/scss/_functions.scss"
@import "node_modules/bootstrap/scss/_variables.scss"

$position: map-get($spacers, 2)

div
  right: $position!important
  bottom: $position!important
  z-index: 1!important
  position: fixed!important
