@import "@/assets/styles/variables"
@import "@/assets/styles/mixins"

input
  background-color: $gray-200!important
  border-color: $gray-600!important
  border-radius: 0!important
  border-width: 0 0 1px 0!important

.btn
  @include button-variant($gray-200, $gray-600, $gray-600, $gray-600, $gray-700)
  border-top: 0!important
  border-left: 0!important
  border-right: 0!important
  border-radius: 0!important
