@import "@/assets/styles/variables"
@import "@/assets/styles/mixins"

label
  margin: 0!important

th, td
  vertical-align: middle!important
tr
  thead &
    height: $table-header-row-height !important
  tbody &
    height: $table-body-row-height!important

.b-table-empty-row
  color: $black!important
  background-color: $gray-200!important
  height: calc($table-body-row-height * 5 - 1px)!important

input
  $input-min-height: 40px
  $input-min-width: 100px
  $input-max-width: $input-min-width * 3.5
  min-width: $input-min-width!important
  max-width: $input-max-width!important
  min-height: $input-min-height!important
  background-color: $white!important
  padding-right: calc(map-get($spacers, 4) + map-get($spacers, 4) / 2)!important
  border: 1px solid $gray-600!important
  border-left: 0!important
  border-top: 0!important
  border-right: 0!important
  border-radius: 0!important

.btn-group
  $button-size: 40px

  .btn
    @include button-variant($gray-200, $gray-600, $gray-600, $gray-600, $gray-700)
    height: $button-size!important
    border-top: 0!important
    border-left: 0!important
    border-right: 0!important
    border-radius: 0!important

  .btn-square
    width: $button-size!important
    height: $button-size!important
