@import "node_modules/bootstrap/scss/_functions.scss"
@import "node_modules/bootstrap/scss/_variables.scss"

pre
  margin: 0!important

footer
  .btn
    border-width: 2px!important

  .btn.btn-secondary
    border-color: darken(map-get($theme-colors, "secondary"), 25%)!important
