@import "@/assets/styles/variables"
@import "@/assets/styles/mixins"

.tabs ::v-deep ul[role="tablist"]
  gap: 10px!important

.tab-pane::v-deep
  pre
    border: 1px solid $gray-300!important

::v-deep
  .modal-body > *
    border-radius: 0!important
  .modal-content
    border-radius: 0!important
  .modal-footer
    @include btn-accent
