@import "@/assets/styles/variables"
@import "@/assets/styles/mixins"

.btn-square
  height: $input-height!important
  width: $input-height!important

.btn-controls
  @include button-variant($gray-200, $gray-600, $gray-600, $gray-600, $gray-700)
  border-top: 0!important
  border-left: 0!important
  border-right: 0!important
  border-radius: 0!important
  height: $input-height!important

.dropdown
  min-width: 80px!important

.controls-container
  padding: 0!important
  .row
    row-gap: 10px!important

.table-paginated
  ::v-deep
    th
      // This is required to undo a bug that was introduced in version 2.22 of BSV:
      // https://github.com/bootstrap-vue/bootstrap-vue/issues/6961
      position: sticky!important
    th, td
      vertical-align: middle!important
    tr
      thead &
        height: $table-header-row-height !important
      tbody &
        height: $table-body-row-height!important
    .b-table-empty-row
      color: $black!important
      background-color: $gray-200!important
      height: calc($table-body-row-height * 5 - 1px)!important

.pagination
  ::v-deep
    .page-item
      .page-link
        $link-size: 40px
        width: $link-size!important
        height: $link-size!important
        color: $gray-600!important
        background-color: $gray-200!important
        border-color: $gray-600!important
        border-left: 0!important
        border-top: 0!important
        border-right: 0!important
        transition: $btn-transition
      &.active
        .page-link
          color: $white!important
          background-color: $gray-700!important
      &.disabled
        .page-link
          opacity: $disabled-opacity!important
      &:not(.disabled)
        .page-link:hover
          color: $white!important
          background-color: $gray-600!important
