@import "node_modules/bootstrap/scss/_functions.scss"
@import "node_modules/bootstrap/scss/_variables.scss"

.card
  border: 0!important
  border-radius: 0!important

.card-header,
.card-footer
  border: 0!important
  background-color: $white!important
