@import "variables"
@import "mixins"
@import "node_modules/bootstrap/scss/bootstrap"
@import "node_modules/bootstrap-vue/src/index"
@import "extension"
@import "override"

@font-face
  font-family: 'Trebuchet MS'
  font-style: normal
  font-weight: normal
  src: local('Trebuchet MS'), url('@/assets/fonts/trebuc.woff') format('woff')

*
  margin: 0
  padding: 0

html
  position: relative
