@import 'node_modules/bootstrap/scss/bootstrap'
@import "variables"
@import "mixins"
@import "svg"
@import "override"
@import "component"

@font-face
  font-family: 'Trebuchet MS'
  font-style: normal
  font-weight: normal
  src: local('Trebuchet MS'), url('@/assets/fonts/trebuc.woff') format('woff')

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  color: black
  font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif
  min-height: 100vh

\:disabled
  cursor: not-allowed
  pointer-events: all!important

@each $size in 2, 3, 4, 5
  .border-#{$size}
    border-width: $size+px!important

.bg-light-gray
  background-color: $light-gray

.action-btn
  @extend .btn
  @extend .btn-secondary
  @extend .border-2
  @extend .border-dark
  @extend .text-center

.page-title
  @extend .text-center
  @extend .m-5
