@import "node_modules/bootstrap/scss/_functions.scss"
@import "node_modules/bootstrap/scss/_variables.scss"

form
  $width: 290px

  input
    width: $width!important

  .form-text
    width: $width!important

  .form-row
    justify-content: center!important
