@import "node_modules/bootstrap/scss/_functions.scss"
@import "node_modules/bootstrap/scss/_variables.scss"

$width: 290px

.form-row
  justify-content: center!important

input.form-control
  width: $width!important
  background-color: gray("200")!important
  border-color: gray("600")!important
  border-radius: 0!important
  border-width: 0 0 1px 0!important

.form-text
  width: $width!important
