@import "@/assets/styles/variables"

$card-form-input-height: 40px
$card-form-input-max-width: 350px

.card-subtitle
  color: $black!important
  margin-bottom: 10px!important

.card-body
  height: 60vh!important
  overflow-y: auto!important

hr
  $margin: map-get($spacers, 3)
  margin-bottom: $margin!important

form
  .bi
    margin: 3px 0!important

  .form-text
    display: flex!important
    flex-direction: row!important
    gap: 5px!important

  input
    height: $card-form-input-height!important
    max-width: $card-form-input-max-width!important
