<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Reset your password</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Forgot your password? Happens to the best of us!</p>
        <p>You can reset your password by clicking <a th:href="${link}">this link</a>.</p>
        <p>The link remains valid for the next 15 minutes.</p>
        <p>If you have not requested a password reset, feel free to ignore this email. Your current password will remain unchanged.</p>
        <p>
            Regards, <br/>
            The DL4SE team
        </p>
    </body>
</html>
