<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Welcome! You have successfully created your account.</p>
        <p>Please validate your email address by clicking <a th:href="${link}">this link</a>.</p>
        <p>The link remains valid for the next 24 hours.</p>
        <p>
            Regards, <br/>
            The DL4SE team
        </p>
    </body>
</html>
